.options{
    padding: 0px 0px 120px 0px;
    min-height: 580px;
    &__wrapper{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(580px, auto);
    }
    &__title{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 50;
    }
    h2,h3{
        margin-bottom: 0;  
    }
    &__item{
        position: relative;
        &-bg{
            &_data{
                background: url('../img/bg/data.png') 50% / cover;
            }
            &_server{
                background: url('../img/bg/server.png') center;
            }
        }
        &-header{
            line-height: 26px;
            text-transform: uppercase;
          
        }
        &-descr{
            margin-top: 20px;
            
        }
        &-data{
            position: absolute;
            right: 83px;
            top: 270px;
            text-align: right;
        }
        &-server{
            position: absolute;
            left: 83px;
            top: 270px;
            text-align: left;
        }
     
    }
}