doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title Prengi
	body
		header
			.container 
				.country__wrapper 
					.country__item 
						|
						|
						a: img.country__flag(src="icons/flag/uk.png", alt="Uk")
						.country__descr
							.country__title.title_fz14 Ukraine
							|
							| 
							a.country__phone(href="tel:+3806393007002") tel. +38(063) 930 07 002
							|
							|
							a.country__email(href="mailto:hi@vasolutions.com.ua") hi@vasolutions.com.ua
					.country__item 
						|
						|
						a: img.country__flag(src="icons/flag/gm.svg", alt="Gr")
						.country__descr
							.country__title Germany
							|
							|
							.country__address Trierer Strabe 35, 54329 Konz  
							|
							| 
							a.country__phone(href="tel:+352661880305") tel. +352 661 88 03 05
					.country__item 
						|
						|
						a: img.country__flag(src="icons/flag/est.svg", alt="EST")
						.country__descr
							.country__title Estonia
							|
							|
							.country__address K. Karbery 16/27, 13812 Tallinn
							|
							| 
							a.country__phone(href="tel:+352661880305") tel. +352 661 88 03 05
					.country__item 
						|
						|
						a: img.country__flag(src="icons/flag/gb.svg", alt="GB")
						.country__descr
							.country__title Great Britain
							|
							|
							.country__address E20LP, Golden vc House, London
							|
							| 
							a.country__phone(href="tel:+447501095529") tel. +44 750 109 55 29
							
					.country__item  
						|
						|
						a: img.country__flag(src="icons/flag/lux.svg", alt="lux")
						.country__descr
							.country__title Luxembourg
							|
							|
							.country__address 2,Rue d`Avalon, L-1159 Luxembourg
							|
							| 
							a.country__phone(href="tel:+352661880305") tel. +352 661 88 03 05
		section.promo 
			.container
				nav
					.promo__logo
						a(href="#"): img(src="icons/logo/logo.svg", alt="logo")  
					ul.promo__menu 
						|
						|
						li.list: a(href="#") главна 
						|
						|
						li.list: a(href="#modul") Модули
						|
						| 
						li.list: a(href="#industries") Отрасли
						|
						|
						li.list: a(href="#aboutUs") О нас
						|
						|
						li.list: a(href="#commitments") Наши обязательства
					.humburger
						span
						span 
						span 
				.promo__sliders 
					.promo__sliders_item
						.promo__descr
							h1.promo__title Управляй своим бизнесом <br> через Smartphone
							h2.promo__subtitle PRENGI - Платформа для прозрачного <br> управления бизнесом
							|
							|
							.promo__btns
								a(href="#").btn Получить доступ
						.promo__mobial
							.promo__speed
								.promo__speed_info: img(src="icons/phone/speed.svg", alt="phoneSpeed")
								.promo__speed_phone: img(src="icons/phone/phone.svg", alt="phone")
							.promo__admin 
								.promo__admin_info: img(src="icons/phone/admin.svg", alt="phoneAdmin")
								.promo__admin_phone: img(src="icons/phone/phone.svg", alt="phone")
		section.cPrengi
			.container
				.cPrengi__wrapper 
					.cPrengi__block
						.cPrengi__item 
							.cPrengi__item-icon: img(src="icons/question/decision.svg", alt="decision")
							.cPrengi__item-descr Нет оперативности <br> в принятии решений?
							.cPrengi__item-quest: img(src="icons/question/quest.svg", alt="quest")
						.cPrengi__item 
							.cPrengi__item-icon: img(src="icons/question/control.svg", alt="control")
							.cPrengi__item-descr Нет учета и контроля <br> обслуживания?
							.cPrengi__item-quest: img(src="icons/question/quest.svg", alt="quest")
						.cPrengi__item 
							.cPrengi__item-icon: img(src="icons/question/analiz.svg", alt="analiz")
							.cPrengi__item-descr Сложно строить прогнозы и <br> анализировать данные?
							.cPrengi__item-quest: img(src="icons/question/quest.svg", alt="quest")
					.cPrengi__strelka: img(src="icons/question/strelka.svg", alt="strelka")
					h2.cPrengi__header С PRENGI
					.cPrengi__block.answer
						.cPrengi__item 
							.cPrengi__item-icon: img(src="icons/question/time.svg", alt="timetable")
							.cPrengi__item-descr.black Все затраты спланированы <br> и расписаны
							.cPrengi__item-quest.check: img(src="icons/question/check.svg", alt="check")
						.cPrengi__item 
							.cPrengi__item-icon: img(src="icons/question/data.svg", alt="data")
							.cPrengi__item-descr.black Корректная аналитика данных <br> online
							.cPrengi__item-quest.check: img(src="icons/question/check.svg", alt="check")
						.cPrengi__item 
							.cPrengi__item-icon: img(src="icons/question/integration.svg", alt="integration")
							.cPrengi__item-descr.black Простая интеграция с любым <br> Вашим ПО
							.cPrengi__item-quest.check: img(src="icons/question/check.svg", alt="check")
		section.decision
			.container 
				h2.decision__title.title_fz30 Prengi предоставляет экспертные решения <br> для Вашей отрасли
				ul.decision__menu
					li.decision__link: a(href="#")  Prengi Production  
					li.decision__link: a(href="#")  Prengi FMC 
					li.decision__link: a(href="#")  Prengi Mallz Retail
					li.decision__link: a(href="#")  Prengi Logistic
					li.decision__link: a(href="#")  Prengi IT
					li.decision__link: a(href="#")  Prengi HR      
				.decision__slider
					.decision__wrapper
						.decision__slids 
							.decision__slid.active 
								.decision__item
									.decision__item-mac
										picture
											source(srcset="icons/mac/macbook-air.webp" type="image/webp") 
											img(src="icons/mac/macbook-air.png", alt="mac")
									.decision__item-screen
										picture
											source(srcset="icons/mac/screen.webp" type="image/webp")  
											img(src="icons/mac/screen.png", alt="screen")
							.decision__slid
								picture
									source(srcset="img/bg/data.webp" type="image/webp")
									img(src="img/bg/data.png", alt="")
							.decision__slid
								picture
									source(srcset="img/bg/expert.webp" type="image/webp")
									img(src="img/bg/expert.png", alt="")
							.decision__slid
								source(srcset="img/bg/promo.webp" type="image/webp")
								img(src="img/bg/promo.png", alt="")
						.decision__dots 
							span.decision__dot.active 
							span.decision__dot 
							span.decision__dot
							span.decision__dot
						.decision__strelka
							.decision__next &#10093;
							.decision__prev &#10092;
		section.advantages#commitments 
			.container 
				h2.advantages__title.title_fz30 Преимущества Prengi для <br> Вашей отрасли
				.advantages__wrapper 
					.advantages__item.advantages__item-bg_time  	 
						.advantages__item-descr.title_fz23 Возможность внедрения и тестирования в реальном времени
					.advantages__item.advantages__item-bg_intellect 
						.advantages__item-descr.title_fz23 Система “Intellect”, учет уровня доступов                                                                             
					.advantages__item.advantages__item-bg_globus 
						.advantages__item-descr.title_fz23 Возможность использовать из любой точки мира с любого устройства  
					.advantages__item.advantages__item-bg_phone 
						.advantages__item-descr.title_fz23 Нет необходимости установки и стационарной работы программиста 
					.advantages__item.advantages__item-bg_man 
						.advantages__item-descr.title_fz23 “Живые”бизнес-процессы
					.advantages__item.advantages__item-bg_card 
						.advantages__item-descr.title_fz23 Никаких предоплат, оплата после старта
		section.options
			.options__wrapper
				h2.options__title.title_fz30 Варианты развертывания <br> Ваших данных 
				.options__item.options__item-bg_data
					.options__item-data
						h3.options__item-header.title_fz30.right Облачное хранилище
						p.options__item-descr.title_fz18 Это выделенное пользователю пространство на жестком <br> диске сервера, находящегося в Интернете.  
				.options__item.options__item-bg_server
					.options__item-server
						h3.options__item-header.title_fz30.left Размещение на сервере
						p.options__item-descr.title_fz18 Услуга аренды пространства в центре обработки данных <br> (колокация серверов) предназначена для клиентов
		section.work 	
			.container 
				.work__icon 
					a(href="#"): img(src="icons/access/getaccess.svg", alt="access")
				p.work__descr.title_fz30 Приступить очень просто! <br> Нужно получить доступ и начать работу!
				button.work__btns.btn связаться с нами
		footer.footer
			.container 
				.footer__wrapper
					.footer__item
						h3.footer__head.title_fz16 о компании
						ul.footer__block.title_fz14.white
							li.footer__logo
								a(href="#")
									img(src="icons/footer/footer-logo.svg", alt="footer-logo")  
							li.footer__descr
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, consequatur quae odit vero voluptatem sunt error doloribus vel aliquid cum repudiandae, odio facere, voluptas a culpa! Eos voluptatem nisi illum!  
					.footer__item#modul
						h3.footer__head.title_fz16 Модули
						ul.footer__block.title_fz14.white
							li.footer__link: a(href="#") Обслуживание 
							li.footer__link: a(href="#") Паспорт объекта 
							li.footer__link: a(href="#") Автоматизация бизнес процессов (BPM) 
							li.footer__link: a(href="#") Проектное управление (РРМ) 
							li.footer__link: a(href="#") Управление подрядчиками 
							li.footer__link: a(href="#") Персональный дашборд 
							li.footer__link: a(href="#") Управление задачами 
							li.footer__link: a(href="#") Управление алгоритмами 
							li.footer__link: a(href="#") Управление качеством 
							li.footer__link: a(href="#") Склад 
							li.footer__link: a(href="#") Service desk 
							li.footer__link: a(href="#") Календарь 
							li.footer__link: a(href="#") Prengi market 
					.footer__item#industries
						h3.footer__head.title_fz16 Отрасли
						ul.footer__block.title_fz14.white
							li.footer__link: a(href="#") Промышленность 
							li.footer__link: a(href="#") Ритейл
							li.footer__link: a(href="#") Фасилити
							li.footer__link: a(href="#") Логистика
							li.footer__link: a(href="#") IT
							li.footer__link: a(href="#") HR
					.footer__item#aboutUs
						h3.footer__head.title_fz16 о нас
						ul.footer__block.title_fz14.white
							li.footer__link: a(href="#") История 
							li.footer__link: a(href="#") Наши отношения
							li.footer__link: a(href="#") Команда
							li.footer__link: a(href="#") Контакты
				hr
				.footer__policy.title_fz13 
					span &copy; Prengi Ink. 2008-2017 Все права защищены.	
		script(src="js/main.js") 
		
		



						
						







			
















						
							


				  
					 

				


		


						   

